.bar-footer{
    display: flex;
    background-color: #080D17;
    width: 100%;
    height: 288px;
    align-items: center;
    justify-content: center;
}

.contacto {
    height: auto;
    width: 100%;
    max-width: 1067px; 
    background-color: #0F1628;
    padding: 20px;
    display: flex;
    align-items: center;
    height: auto; 
    width: 100%;
    max-width: 1067px;
  
}

.contend{
    display: flex;
}
.container-text{
    width: 50%;
}

button {
    margin-top: 20px;
}


/* Media query responsives */
   @media screen and (max-width: 768px) {
    .contacto {
        padding: 10px; 
    }

    .container-text {
        width: 100%;
        order: 2;
    }

    button {
        margin-top: 10px;
        order: 1; 
        width: 100%; 
    }
}