.boxTitleMain{
    padding: 10px;
    width: 50%;
    text-align: center;
}

.boxImage {
    padding: 10px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageMain {
    height: 421px;
    width: 496px;
    object-fit: cover;
    aspect-ratio: 1/1;
}

/* media querys responsive0 */
@media screen and (max-width: 768px) {
.boxTitleMain,
.boxImage {
    width: 100%;
    padding: 5px;
}

.imageMain {
    width: 100%; 
    height: auto;
    max-width: 100%;
}
}
