.container-proyects{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    flex-wrap: wrap;
}

.card-proyects{
    height: 412px;
    background-color: #080D17;
    padding-inline: 20px;
    padding-top: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.image-proyects{
    height: 320px;
    margin-left: 8px;
    width: 100%;
    object-fit: cover;
}

.boton-proyects {
    display: inline-block;
    color: #733EAF;
    font-weight: 700;
    text-decoration: none;
}

.custom-button{
    padding-block: 40px;
    display: flex;
    justify-content: flex-end;
    right: 0;
}

 /* Media query para ajustar el diseño en pantallas pequeñas */
 @media screen and (max-width: 768px) {
    .container-proyects {
        padding-top: 40px; /* Espacio entre elementos */
    }

    .card-proyects {
        width: calc(50% - 20px); /* Ancho del 50% menos el espacio entre tarjetas */
    }
}
