.container {
    display: flex;
    justify-content: space-between;
    padding-block: 80px;

}

.custom-card{
    height: 350px;
    width: 330px;
    background-color: #080D17;
    padding: 20px;
}

.custom-card2{
    height: 350px;
    width: 330px;
    background-color: #733EAF;
    padding: 20px;
}

.boton-card {
    display: inline-block;
    color: #733EAF;
    font-weight: 700;
    padding-top: 70px;
    text-decoration: none;
}
.boton2-card {
    display: inline-block;
    color: #080D17;
    font-weight: 700;
    padding-top: 70px;
    text-decoration: none;
}

.boton:hover {
   color: #fff;
}

 /* Media query responsives */
 
 @media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding-block: 40px;
    }

    .custom-card,
    .custom-card2 {
        width: 100%; 
        margin-bottom: 20px;
    }
}