@import 'variables';


:root {
    font-family: $raleway-font !important;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: $dark-background !important;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    font-weight: 500;
    color: $highlight-color;
    text-decoration: inherit;
    &:hover {
      color: #535bf2;
    }
  }
  
  body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: $dark-background !important;
    color:$light-background !important;
  
    main {
      margin: 50px;
    }
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  button {
    border-radius: 8px !important;
    border: 1px solid $primary-color;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: $secondary-color;
    cursor: pointer;
    transition: border-color 0.25s;
   
    
  }
  
  button:hover {
    background-color: $primary-color;
    color: #fff; 
    transform: scale(1.05); 
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: $primary-color;
      background-color: $light-background;
    }
    a:hover {
      color: $primary-color;
    }
    button {
      background-color: $light-background;
    }
  }