
@import 'variables';

.card-title {
    color: $secondary-color !important;
  }
  
  .card-text {
    color: $secondary-color !important;
  }
  
  .service {
    border: 2px solid $primary-color !important;
    border-radius: 15px;
  }
  
  .container {
    padding-inline: 50px !important;
  }
  
  .img-fluid {
    border-radius: 20px;
    border: 5px solid $highlight-color;
  }
  
  .card-sobre-mi {
    background-color: $secondary-color;
    border-radius: 20px;
  }
  
  .card-body {
    padding: 15px !important;
    color: $light-background;
  }