
@import 'variables';

.navbar {
    background-color: $secondary-color;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
  
    .menu {
      list-style-type: none;
      padding: 0;
  
      li {
        display: inline;
  
        a {
          display: inline-block;
          padding: 10px;
          color: white;
          text-decoration: none;
          &:hover {
            background-color: #555;
          }
        }
      }
    }
  }
  