//Variables

$raleway-font: Raleway;
$primary-color: #733EAF;
$secondary-color: #080D17;
$highlight-color: #646cff;
$light-background: #ffffff;
$dark-background: #0F1628;

// Estilos
:root {
  font-family: $raleway-font !important;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: $dark-background !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: $highlight-color;
  text-decoration: inherit;
  &:hover {
    color: #535bf2;
  }
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: $dark-background !important;
  color:$light-background !important;

  main {
    margin: 50px;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px !important;
  border: 1px solid $primary-color;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $secondary-color;
  cursor: pointer;
  transition: border-color 0.25s;
  &:hover {
    border-color: $primary-color;
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: $primary-color;
    background-color: $light-background;
  }
  a:hover {
    color: $primary-color;
  }
  button {
    background-color: $light-background;
  }
}

.stack-inline {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding-block: 100px;
}

@media screen and (max-width: 768px) {
  .stack-inline {
    flex-direction: column;
    padding-block: 20px;
  }
}

.navbar {
  background-color: $secondary-color;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  .menu {
    list-style-type: none;
    padding: 0;
    li {
      display: inline;
      a {
        display: inline-block;
        padding: 10px;
        color: white;
        text-decoration: none;
        &:hover {
          background-color: #555;
        }
      }
    }
  }
}

.jumbotron{
  background-color: $secondary-color !important;
  padding-top: 400px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-block: 80px;
}

.custom-card {
  height: 350px;
  width: 330px;
  background-color: $secondary-color;
  padding: 20px;
}

.custom-card2 {
  height: 350px;
  width: 330px;
  background-color: $primary-color;
  padding: 20px;
}

.boton-card {
  display: inline-block;
  color: $primary-color;
  font-weight: 700;
  padding-top: 70px;
  text-decoration: none;
  &:hover {
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding-block: 40px;
  }

  .custom-card,
  .custom-card2 {
    width: 100%;
    margin-bottom: 20px;
  }
}

.container-proyects {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  flex-wrap: wrap;
}

.card-proyects {
  height: 412px;
  background-color: $secondary-color;
  padding-inline: 20px;
  padding-top: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.image-proyects {
  height: 320px;
  margin-left: 8px;
  width: 100%;
  object-fit: cover;
}

.boton-proyects {
  display: inline-block;
  color: $primary-color;
  font-weight: 700;
  text-decoration: none;
}

.custom-button {
  padding-block: 40px;
  display: flex;
  justify-content: flex-end;
  right: 0;
}

@media screen and (max-width: 768px) {
  .container-proyects {
    padding-top: 40px;
  }

  .card-proyects {
    width: calc(50% - 20px);
  }
}

.bar-footer {
  display: flex;
  background-color: $secondary-color;
  width: 100%;
  height: 288px;
  align-items: center;
  justify-content: center;
}

.contacto {
  height: auto;
  width: 100%;
  max-width: 1067px;
  background-color: $dark-background;
  padding: 20px;
  display: flex;
  align-items: center;
  .contend {
    display: flex;
  }
  .container-text {
    width: 50%;
  }
  button {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .contacto {
    padding: 10px;
  }

  .container-text {
    width: 100%;
    order: 2;
  }

  button {
    margin-top: 10px;
    order: 1;
    width: 100%;
  }
}

.footer {
  background-color: $secondary-color;
  color: #fff !important;
  padding: 20px;
  text-align: center;
  height: 60px;
  top: 20px;
}

.social-icons .fa {
  font-size: 24px;
  color: #fff !important;
  margin: 10px;
  padding: 20px;
  &:hover {
    color: #ccc;
  }
}

.copyright {
  font-size: 14px;
}

.card-title{
  color: $secondary-color !important;
}

.card-text{
  color: $secondary-color !important;
}

.service{
  border: 2px solid $primary-color !important;
  border-radius: 15px;
}

.container{
  padding-inline: 50px !important;
}

@media screen and (max-width: 992px) {
  .jumbotron {
      height: 500px;
  }
}

@media screen and (max-width: 768px) {
  .jumbotron {
      height: 400px;
  }

  .card {
      margin-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  .jumbotron {
      height: 300px;
  }
}

.img-fluid{
  border-radius: 20px;
  border: 5px solid $highlight-color;
}

.card-sobre-mi{
  background-color: $secondary-color;
  border-radius: 20px;
  
}

.card-body{
  padding: 15px !important;
  color: $light-background;
}
